.list-cell {
    -fx-padding: 0px;
}
.list-view {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(103, 243, 3, 0.15), rgba(177, 122, 80, 0.15));
}

.list-cell {
    -fx-background-color: rgb(254, 254, 213);
}

.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(103, 243, 3, 0.2), rgba(105, 157, 54, 0.16));
}
.list-cell:filled:selected {
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}



